:root{
   --rosa: rgb(187, 36, 99);
   --azul: rgb(20, 91, 199);
   --rosaclaro: rgb(228, 130, 190);
   --preto: #000;

}
body{
    background-color:var (--rosa);
    color: var (--preto);
    font-family:fantasy;
    height: 100vh;
    margin: 0;
}

header{
    background-color:var(--rosaclaro);
    text-align: center;
    padding: 1px;

}
h1{
    font-size: 2rem;
    color: black;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: blueviolet;
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
}
nav a :hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform(0.1s);
}